*{
    padding: 0;
    margin: 0;
    font-family: 'Source Serif Pro', serif;
}
.pages a{
    text-decoration: none !important;
}
.pages a:hover{
    text-decoration: underline !important;
}
.Copyright a{
    text-decoration: none !important;
}
.Copyright a:hover{
    text-decoration: underline !important;
}