*{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
:root{
    --primary-color:#42C2FF;
    --secondary-color:#85F4FF;
    --heading-color:#d8fcf9;
}

.ind-button{
    display: flex;
    justify-content: end ;
    background-color: #103942;
    height: 55px;
  }
  .ind-button >a{
    margin-left: 1%;
    margin-top: 1%;
  }
  .ind-button >a >button{
    width: 90px;
    height: 30px;
    border: none;
  }
  .ind-button >a >button:hover{
    background: linear-gradient(#103942,#5c777c);
    color: #fff;
  }
  .ind-navbar{
    display: flex;
    justify-content: center;
  }
  .ind-navbar >ul >li{
    margin-left: 50px;
    /* border: 2px solid black; */
  }
  .ind-navbar >ul >li a:hover{
    background: linear-gradient(#103942,#5c777c);
    color: #fff !important;
  }
  ul.dropdown-menu{
    width: 100% !important;
    text-align: center;
    background-color: #5c777c;
  }
  ul.dropdown-menu >li{
    display: inline-block !important;
  }
  
  
.border5{
    border: 1px solid transparent;
    background-image: url(../imges/topographi.svg);
    height: 450px;
    
   
}
.border5 a{
    font-size: 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bolder;

}
.border5 a i{
    font-size: 15px;
    text-decoration: none;
    margin-left: 90px;
    margin-top: 200px;
    color: rgb(0, 0, 0);
   
    
}
.border5 i{
   margin-right: 20px;

}
.text-term2 h1{
    margin-left: 90px;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 50px;
    color: rgb(0, 0, 0);
   
    
}
.text-term2 p{
    margin-left: 90px;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 25px;
    color: rgb(0, 0, 0);
}   


.overview2 h1{
    color: black;
    font-size: 36px;
    font-weight: bolder;
   
    
}    
.overview2 p{
    color: black;
    font-size: 16px;
    margin-top: 20px;
    
    
}   
.inform2 h3{
    font-weight: bolder;
    font-size: 12px;
    color: black;
    
    
}
.inform2 p{
    font-size: 13px;
    color: black;
    
    
}
.inform2 h3:hover {
    color: rgb(0, 145, 170);
    cursor: pointer;
}
.heading2{
    text-align: center;
    text-shadow: 4px 3px rgb(105, 103, 103);
    font-weight: bolder;
    font-size: 55px;
    color: black;

}
.main5{
    margin-top: 50px;
}


.leapard-seal-pics img{
    border-radius: 5px;
}
.leapard-seal-pics img:hover{
    
    transform: scale(0.95);
    box-shadow: 0px 10px 10px 10px gray;
    transition: 0.3s;
}

.text5{
    background-image: url(../imges/topographi.svg);
    height: 45%;
}
.text5 P{
    text-align: center;
    color: black;
}

.main6{
    margin-top: 50px;
}
.leapard-seal-pics-2 img{
    border-radius: 5px;
}
.leapard-seal-pics-2 img:hover{
    
    transform: scale(0.95);
    box-shadow: 0px 10px 10px 10px gray;
    transition: 0.3s;
}

.text6{
    background-image: url(../imges/topographi.svg);
    height: 45%;
}
.text6 P{
    text-align: center;
    color: black;
}